.media-editor-container {
  // background-color: rgba($color: #000000, $alpha: 0.95);
  background-color: black;
  z-index: 1488;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
}

.media-editor-container > .editor-container {
  canvas {
    // display: none;
  }
}



.media-editor-container > .editor-panel {
  width: 400px;
  height: 100%;
  background-color: var(--surface-color) !important;
  margin-left: auto;
  overflow: hidden;

  .navbar-tabs {
    padding: 0 8px;
    border-bottom: 1px solid var(--border-color);
    .navbar {
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar-left {
        display: flex;
        align-items: center;
        .title {
          font-weight: 500;
          font-size: 20px;
          padding-left: 16px;
        }
      }
      .actions {
        color: #aaaa;
        display: flex;
        & > *:first-child {
          margin-right: 8px;
        }
      }
    }
  }

  .menu-horizontal-div {
    &::before, &::after {
      display: none;
    }
  }

  .editor-panel-tabs {
    padding: 0 4px;
    justify-content: space-between;
    border-bottom: none;
    .menu-horizontal-div-item {
      i {
        bottom: -11px;
      }
      padding: 12px;
      font-size: 24px;
      max-width: 48px;
    }
  }

  .editor-panel-content-container {
    background-color: var(--surface-color);
  }
}

.media-editor-container > .save {
  background-color: var(--primary-color) !important;
  color: white;
  width: 54px;
  height: 54px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-panel-tabs-container {
  height: 100%;
}
.editor-panel-content-container {
  height: 100%;
  padding: 24px;
}


.editor-range-container {
  position: relative;
  padding: 0;
  margin: 0;
  height: 4px;
  // idk how to rgba with css variables. This works and i dont care
  --slider-track-color: var(--primary-color);
  input[type="range"] {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
    &::-webkit-slider-runnable-track {
      height: 100%;
      -webkit-appearance: none;
      background: var(--slider-track-color);
      border-radius: 2px;
      height: 4px;
      overflow: visible;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--primary-color);
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin-top: -10px + 2;
      cursor: pointer;
    }

    &::-moz-range-track {
      height: 100%;
      background: transparent;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--primary-color);
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-top: -10px + 2;
    }
  }

  .editor-range-fill {
    top: -4px;
    position: relative;
    height: 4px;
    background: var(--primary-color);
    border-radius: 2px;
    z-index: 10;
    transform-origin: center;
    pointer-events: none;
  }
}
