@font-face {
    font-family: 'American Typewriter';
    src: url('assets/fonts/americantypewriter.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir Next';
    src: url('assets/fonts/avenirnext.ttf') format('truetype');
}

@font-face {
    font-family: 'Courier New';
    src: url('assets/fonts/couriernew.ttf') format('truetype');
}

@font-face {
    font-family: 'Noteworthy';
    src: url('assets/fonts/noteworthy.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/georgia.ttf') format('truetype');
}

@font-face {
    font-family: 'Papyrus';
    src: url('assets/fonts/1papyrus.ttf') format('truetype');
}

@font-face {
    font-family: 'Shell Roundhand';
    src: url('assets/fonts/snellroundhand.otf') format('opentype');
}
